#bodyBox {
    font-family: arial, serif;
    height: auto;
    display: grid;
    min-height: 100%;
}
#navBar {
    margin: .1vh;
    display: flex;
    justify-content: flex-end;
}
.navItems{
    padding: 0 6px;
    font-size: 0.8rem;
}
#mainBox{
    margin: .1vh;
    border-color: #fff;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 145px;
    padding-bottom: 20px;
}
.searchBox{
    position: relative;
    padding-top: 5px;
    padding-bottom: 15px;
}
.searchBox i{
    position: absolute;
    left: 19px;
    top: 20px;
}
#textIn{
    padding: 11.5px;
    border-radius: 40px;
    border: none;
    border:solid 1px #ccc;
}
input [type=text]{
    width: 100%;
}
#mb3{
    display: flex;
    font-size: 1rem;
    color: rgba(0,0,0,0.54)
}
#footBar{
    margin: .1vh;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

#fbar2{
    display: flex;
}
#fbar2A{
    display: flex;
    width: 50%;
    justify-content: flex-start;
}
#fbar2B{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.footItems{
    padding: 0 10px;
    font-size: 0.9rem;
}
